extends layout

block content
  
  h1.title= title

  form(action='/new-message' method='POST')
    label(for='msgTitle') Message Title:
    input(type='text' id='msgTitle' name='msgTitle')
    br
    label(for='msgContent') Message Content:
    textarea(type='text' id='msgContent' name='msgContent')
    br
    input(type='hidden' name='msgAuthor' value=currentUser.email)
    button(type='submit') ADD
    
  a(href='/' class='back') &#8617; back to the main page
