extends layout

block content
  
  h1.title= title
  
  div.form-wrapper
    div.form-container
      form(action='/sign-up' method='POST')
        label(for='firstName') First Name:
        input(name='firstName' placeholder='Alex' type='text' value=(firstName == undefined ? '' : firstName))
        br
        label(for='lastName') Last Name:
        input(name='lastName' placeholder='Smith' type='text' value=(lastName == undefined ? '' : lastName))
        br
        label.sign-up-mail(for='email') E-mail:
        input(name='email' placeholder='email@address.com' type='email' value=(email == undefined ? '' : email))
        br
        label.sign-up-password(for='password') Password:
        input(name='password' type='password')
        br
        label(for='passwordConfirm') Confirm Password:
        input(name='passwordConfirm' type='password')
        br
        button(type='submit') Sign Up
      
    div.error-container
      if errors
        for error in errors
          p.err-msg * #{error.msg}
      if passwordConfirmFail
        p.err-msg * #{passwordConfirmFail}
  
  a(href='/' class='back') &#8617; back to the main page
