extends layout

block content
  
  h1= title
  
  div.form-wrapper
    div.form-container
      form(action='/sign-up' method='POST')
        label(for='firstName') First Name:
        input(name='firstName' placeholder='Alex' type='text' value=(firstName == undefined ? '' : firstName))
        br
        label(for='lastName') Last Name:
        input(name='lastName' placeholder='Smith' type='text' value=(lastName == undefined ? '' : lastName))
        br
        label(for='email') E-mail:
        input(name='email' placeholder='email@address.com' type='email' value=(email == undefined ? '' : email))
        br
        label(for='password') Password:
        input(name='password' type='password')
        br
        label(for='passwordConfirm') Confirm Password:
        input(name='passwordConfirm' type='password')
        br
        button(type='submit') Sign Up
      
    div.error-container
      if errors
        for error in errors
          p= error.msg
      if passwordConfirmFail
        p= passwordConfirmFail
